/* =====================
    TABLE OF CONTENT
=======================*/

/* ====================
    GENERAL RULES
=======================*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

img {
    width: 100%;
}

.display-flex {
    display: flex;
}

.f-screen {
    height: 100vh;
}

.p-bottom-10 {
    padding-bottom: 10px;
}

.sidebar > * {
    margin: 15px;
}

/* Flexbox */

.flex-vetical-alignment {
    justify-content: center;
    align-items: center;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-self-left {
    align-self: flex-start;
}

.flex-self-center {
    align-self: center;
}


/* Typography */


.text-white {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ===========
    MAIN
==============*/

/* ARTICLE */
article {

}

section.top {
    background-color: #080b12;
    padding: 50px 15px;
}

.button {
    padding: 15px 35px;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 30px;
}

/* ===========
    SIDEBAR
==============*/

aside {
    background-color: black;
    display: inline-block;
}

aside a *,
aside li *,
.sidebar .my-profile > *,
.sidebar .playlist a > * {
    vertical-align: middle;
    display: inline-block;
}

li:hover *,
.download:hover *,
.playlist:hover h4 {
    color: white
}

.sidebar {
    flex-direction: column;
    /* height: calc(100vh - 90px); */
    height: 100vh;
}

.sidebar .icon-container,
.sidebar .profile-img {
    width: 25px;
}

.icon-container,
.playlist > h3 {
    margin-bottom: 5px;
}

.sidebar .logo-container {
    width: 150px;   
}

.sidebar .square {
    font-size: 30px;
    background-color: lightgrey;
    line-height: 35px ;
    height: 35px;
    width:  35px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.sidebar .square:hover {
    background-color: white;
}

.sidebar .playlist-scroll {
    flex-grow: 1;
}

.playlist-scroll li{
    margin-bottom: 10px
}

.sidebar .icon-xs-container {
   width: 15px;
   display: inline-block;
}

.sidebar .profile-img {
    max-height: 25px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
}

.my-profile {
    border-top: 1px solid grey;
    padding-top: 15px;
    margin-top: 0;
}

/* =============
    ARTICLE
==============*/


/* =============
    TOOLBAR
==============*/

.toolbar {
    background-color: #282828;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    height: 90px;
    display: flex;
}

.toolbar-content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box,
.box > div {
    display: flex;
    align-items: center;
}


.box.center {
    flex-direction: column;
}

.box.center i {
    color: white;
}

.box.right i {
    color: lightgray;
}

.now-playing {
    width: 40px;
    margin-right: 10px;
}

.line {
    width: 500px;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
}

.line-progress {
    position: relative;
    width: 20%;
    background-color: lightgray;
}

.sound.line {
    width: 150px;
}

.sound.line-progress {
    width: 30px
}

.box .line-progress > .circle {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 0 -15px;
}

.toolbar > div {
    margin: 0 15px;
}

.box i {
    margin: 0 12px
}

.box.center span {
    margin: 0 20px;
}

#fav-folder {
    margin-left: 30px
}

/* hover */

.icon-container-small:hover i,
h5:hover small {
    color: white;
}

h5:hover small {
    text-decoration: underline;
}

.line:hover .line-progress{
    background-color: #a1ed2c;
}

.line:hover .circle {
    display: block;
}

/* ===============
    MEDIA QUERIES
==================*/



/* MD */
@media screen (max-width: 991px) {
    .line {
        width: 350px
    }
}
/* SM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    
}


/* XS */
@media screen and (max-width: 767px) {
    aside {
        width: 55px;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    .sidebar h5,
    .logo-big,
    .my-profile > h3.display-none {
        display: none;
    }
    
    .logo-small {
        margin-bottom: 0;
    }
    
    .my-profile {
        border: none
    }
    
}

/* MIXED QUERIES */

/*SM-LG */
@media screen and (min-width: 768px) {
    aside {
        width: 250px
    }

    .logo-small {
        display: none;
    }

    #border-green {
    border-left: 3px solid #a1ed2c;
    padding-left: 12px;
    margin-left: -15px;
    }
}

/* XS-SM */
@media screen and (max-width: 991px) {
    #fav-folder {
        display: flex;
        flex-direction: column;
    }
}
