/* =====================
    TABLE OF CONTENT
=======================*/

/* """"""""""""""""""""
    GENERAL RULES
=======================*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.display-flex {
    display: flex;
}

/* Typography */


h1,
h3,
h4 {
        color: white;
}

/* ===========
    MAIN
==============*/

main {
    height: 100vh;
}

/* ===========
    SIDEBAR
==============*/

aside {
    background-color: black;
    width: 250px;
}

aside a *,
aside li * {
    vertical-align: middle;
    display: inline-block;
}

.sidebar {
    flex-direction: column;
}

.sidebar > * {
    margin: 15px;
}

.playlist a > * {
    display: inline-block;
}

.square {
    font-size: 30px;
    background-color: lightgrey;
    line-height: 35px ;
    height: 35px;
    width:  35px;
    text-align: center;
    color: black;
    font-weight: bold;
}


.playlist-scroll {
    flex-grow: 1;
}

.logo-container {
    width: 150px;   
}

.sidebar .icon-container,
.sidebar .profile-img {
    width: 25px;
    display: inline-block;
}

.sidebar .icon-xs-container {
   width: 15px;
   display: inline-block;
}

.sidebar .profile-img {
    max-height: 25px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
}


/* =============
    ARTICLE
==============*/


/* =============
    TOOLBAR
==============*/

.toolbar {
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;

}

.toolbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

