/* =====================
    TABLE OF CONTENTS 
=======================*/
    /*  1. General rules
                1.1 Flexbox
                1.2 Typograpghy 
        
        2.  Main    
                2.1 Aside
                    2.1.1 Sidebar
                2.2 Section.Library
                    2.2.1 Section.Top  
                    2.2.2 Section.Middle 
                    2.2.3 Section.Bottom 
                        2.2.3.1 Row.Third
        
        3.  Toolbar
                3.1 Hover

        4. Media Queries
            4.1 MD
            4.2 SM
            4.3 XS
            4.4 Mixed Queries
                4.4.1 SM-LG
                4.4.2 XS-SM
        */      
/* ====================
   1. GENERAL RULES
=======================*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

img {
    width: 100%;
}

.display-flex {
    display: flex;
}

.p-bottom-10 {
    padding-bottom: 10px;
}

.line {
    width: 275px;
    height: 3px;
    background-color: gray;
    border-radius: 5px;
}


/* 1.1 Flexbox */

.flex-vetical-alignment {
    justify-content: center;
    align-items: center;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-self-left {
    align-self: flex-start;
}

.flex-self-center {
    align-self: center;
}


/* 1.2 Typography */

li:hover *,
.download:hover *,
.playlist:hover h4,
.text-white,
.fa-play-circle-o {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.toolbar .fa-play-circle-o:hover,
.button:hover {
    transform: scale(1.1);
}

/* ===========
    2. MAIN
==============*/

main {
    height: calc(100vh - 90px);
}

/* ===========
    2.1 Aside
==============*/

aside {
    background-color: black;
}

aside a *,
aside li *,
.sidebar .my-profile > *,
.sidebar .playlist a > * {
    vertical-align: middle;
    display: inline-block;
}

/* 2.1.1 Sidebar */

.sidebar .icon-container,
.sidebar .profile-img {
    width: 25px;
}

.icon-container,
.playlist > h3 {
    margin-bottom: 5px;
}

.sidebar .logo-container {
    width: 150px;   
}

.sidebar .square {
    font-size: 30px;
    background-color: lightgrey;
    line-height: 35px ;
    height: 35px;
    width:  35px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.sidebar .square:hover {
    background-color: white;
}

.sidebar .playlist-scroll {
    flex-grow: 1;
    overflow: auto;
}

.playlist-scroll li{
    margin-bottom: 10px
}

.sidebar .icon-xs-container {
   width: 15px;
   display: inline-block;
}


.sidebar .profile-img {
    max-height: 25px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
}

.my-profile {
    border-top: 1px solid grey;
    padding-top: 15px;
    margin-top: 0;
}

/* ================
2.2 SECTION.LIBRARY 
===================*/

section.library {
    flex-grow: 1;
    overflow: auto;
}

.sidebar {
    height: 100%;
}

.sidebar > *,
.button,
.middle li {
    margin: 15px;
}

/* 2.2.1 section.top */

section.top {
    background-color: #080b12;
    justify-content: flex-end;
}

.button {
    padding: 10px 25px;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 14px;
}

/* 2.2.2 section.middle */

section.middle,
.bottom.albums-list {
    background-color: #141922;
}

.middle ul {
    justify-content: center;
    flex-wrap: wrap;
}

.middle li {
    text-transform: uppercase;
}

.middle .line {
    width: 30px;
    height: 2px;
    background-color: #a1ed2c;
    margin: 5px auto;
}

.middle li:hover a {
    color: white;
}

/* 2.2.3 section.bottom */

section.bottom {
    padding: 15px;
}

section.bottom > section {
    margin: 30px 0;
}

.bottom h2,
.bottom h4 {
    color: white;
}

.bottom h4 {
    margin: 5px 0
}

.albums-list .row,
.album {
    display: flex;
    flex-wrap: wrap;
}

.album,
.album-container {
    max-width: 200px;
}

.album {
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    flex-direction: column;
    text-align: center;
}


.album-container > .black-hover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 200px;
    visibility: hidden;
}

.album-container:hover .black-hover {
    visibility: visible;
}

/* 2.2.3.1 Row.Third */

section.third .album-container,
section.third .album-container > .black-hover {
    border-radius: 50%;
    overflow: hidden;
}

section > h5 {
    margin: 10px 0;
}
/* =============
    3. TOOLBAR
=================*/

.toolbar {
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
}

.toolbar-content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box,
.box > div {
    display: flex;
    align-items: center;
}

.box.center i {
    color: white;
}

.box.right i {
    color: lightgray;
}

.now-playing {
    width: 40px;
    margin-right: 10px;
}

.line-progress {
    position: relative;
    width: 20%;
    background-color: lightgray;
}

.sound.line {
    width: 125px;
}

.sound.line-progress {
    width: 30px
}

.box .line-progress > .circle {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 0 -15px;
}

.toolbar > div {
    margin: 0 15px;
}

.box i {
    margin: 0 12px
}

.box.center span {
    margin: 0 20px;
    font-size: 12px;
}

#fav-folder {
    margin-left: 30px
}

/* 3.1 hover */

.icon-container-small:hover i,
.toolbar h5:hover small {
    color: white;
}

.toolbar h5:hover small {
    text-decoration: underline;
}

.line:hover .line-progress{
    background-color: #a1ed2c;
}

.line:hover .circle {
    display: block;
}

/* ===============
  4. MEDIA QUERIES
==================*/



/* 4.1 MD */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .toolbar .box.center .line:not(.line-progress) {
        width: 225px
    }
}
/* 4.2 SM */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .toolbar .box.center .line:not(.line-progress) {
        width: 175px
    }

}

/* 4.3 XS */
@media screen and (max-width: 767px) {
    .sidebar {
        width: 55px;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    .sidebar h5,
    .logo-big,
    .my-profile > h3.display-none {
        display: none;
    }
    
    .logo-small {
        margin-bottom: 0;
    }

    .sidebar a.download {
    text-align: center;
    }

    .my-profile {
        border: none
    }
    
    .toolbar .box.center .line:not(.line-progress) {
        width: 125px
    }

    .sound.line:not(.line-progress) {
        width: 100px;
    }
}

/* 4.4 MIXED QUERIES */

/*4.4.1 SM-LG */
@media screen and (min-width: 768px) {
    .logo-small {
        display: none;
    }

    #border-green {
    border-left: 3px solid #a1ed2c;
    padding-left: 12px;
    margin-left: -15px;
    }
}

/* 4.4.2 XS-SM */
@media screen and (max-width: 991px) {
    #fav-folder {
        display: flex;
        flex-direction: column;
    }
}
